.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-container {
  width: 400px;
  position: relative;
  top: 70px;
  left: 35%;
}

.form-margin {
  margin: 0 0 0 25px;
}

.remember-me {
  margin: 10px 0 10px 25px;
}

.forgot-password {
  margin: 10px 0 10px 25px;
}

.login-form-forgot {
  margin: 0 0 0 30px;
}

.login-button {
  margin: 0 0 0 25px;
}


